<!-- <button mat-raised-button (click)="isOptional = !isOptional">
  {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
</button> -->

<mat-horizontal-stepper linear #stepper style="margin-top:10vh ;" class="zoneAffichageAction">
  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup"
      style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-height: 80%; ;">

      <div>
        <ng-template matStepLabel>Infos Entreprise</ng-template>

        <mat-card
          style="display: flex; flex-direction:column; justify-content: center; align-items: center; max-width: 600px;min-width: 600px;">
          <mat-card-header>
            <!-- fields -->
          </mat-card-header>

          <div style="display: flex ; flex-direction: column; justify-content: space-between;">

            <mat-form-field appearance="outline" style="max-width: 400px; min-width: 100px; width: 15vw;">
              <mat-label>Nom</mat-label>
              <input [(ngModel)]="this.action.nom" matInput placeholder="Nom" formControlName="nom" required>
              <mat-hint>Renseignez le nom</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline"  style="max-width: 400px; min-width: 100px; width: 15vw;">
              <mat-label>Secteur d'activité</mat-label>
              <mat-select formControlName="idSecteur" required [(ngModel)]="this.action.idSecteur">
                <div *ngFor="let secteur of this.secteurs">
                  <mat-option value={{secteur.id}}>{{secteur.libelle}}</mat-option>
                </div>
              </mat-select>
              <mat-hint>Sélectionnez une réponse</mat-hint>
            </mat-form-field>

          </div>

        </mat-card>

      </div>

    </form>

    <div style="display: flex; justify-content: space-around; margin-top: 10vh;">
      <button  mat-button matStepperNext>Suivant</button>
    </div>


  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <form [formGroup]="secondFormGroup"
      style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-height: 80%;">

      <div>
        <ng-template matStepLabel>Biodiversité</ng-template>

        <mat-card
          style="display: flex; flex-direction:column; justify-content: center; align-items: center; max-width: 700px;min-width: 700px;">
          <mat-card-header>

          </mat-card-header>

          <div style="display: flex ; flex-direction: column; justify-content: space-between;">
            <!-- fields 1 -2  -->
            <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">

                <!-- fields 1 -->
                <mat-label>Année de référence</mat-label>
                <input [(ngModel)]="this.questBiodiversite.anneeReference" matInput placeholder="Nom"
                  formControlName="anneeReference" required type="number">
                <mat-hint>Compris entre 2000-2024</mat-hint>
              </mat-form-field>

              <!-- fields 2 -->
              <mat-form-field field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Type de mesures</mat-label>
                <mat-select formControlName="typeMesure" required [(ngModel)]="this.questBiodiversite.typeMesure">

                  <mat-option value="Identification et préservation des zones sensibles">Identification et préservation
                    des zones sensibles</mat-option>
                  <mat-option value="Reforestation ou plantation d'arbres">Reforestation ou plantation
                    d'arbres</mat-option>
                  <mat-option value="Utilisation durable des ressources naturelles">Utilisation durable des ressources
                    naturelles</mat-option>
                  <mat-option value="Conservation des habitats naturels">Conservation des habitats naturels</mat-option>
                  <mat-option value="Aucune mesure déclarée">Aucune mesure déclarée</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>
            </div>

            <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">

              <!-- fields 3 -4  -->

              <!-- fields 3 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Intégration de la Biodiversité dans les Critères d'investissement</mat-label>
                <mat-select formControlName="integBiodiversite" required
                  [(ngModel)]="this.questBiodiversite.integBiodiversite">

                  <mat-option value="Oui">Oui</mat-option>
                  <mat-option value="Non">Non</mat-option>
                  <mat-option value="En cours de mise en œuvre">En cours de mise en œuvre</mat-option>
                  <mat-option value="Aucune information disponible">Aucune information disponible</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>

              <!-- fields 4 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Partenariats avec des Organisations de Conservation</mat-label>
                <mat-select formControlName="partenariat" required
                  [(ngModel)]="this.questBiodiversite.partenariat">

                  <mat-option value="Oui">Oui</mat-option>
                  <mat-option value="Non">Non</mat-option>
                  <mat-option value="En cours de développement">En cours de développement</mat-option>
                  <mat-option value="Aucune information disponible">Aucune information disponible</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>

            </div>

            <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
              <!-- champs de saisie 5 -6 -->

              <!-- fields 5 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Mise en Place de Corridors Écologiques</mat-label>
                <mat-select formControlName="coridor" required [(ngModel)]="this.questBiodiversite.coridor">

                  <mat-option value="Oui">Oui</mat-option>
                  <mat-option value="Non">Non</mat-option>
                  <mat-option value="En cours de planification">En cours de planification</mat-option>
                  <mat-option value="Aucune information disponible">Aucune information disponible</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>


              <!-- fields 6 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Formation et Sensibilisation du Personnel</mat-label>
                <mat-select formControlName="formation" required [(ngModel)]="this.questBiodiversite.formation">
                  <mat-option value="Oui">Oui</mat-option>
                  <mat-option value="Non">Non</mat-option>
                  <mat-option value="En cours de mise en œuvre">En cours de mise en œuvre</mat-option>
                  <mat-option value="Aucune information disponible">Aucune information disponible</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>
            </div>


            <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
              <!-- champs de saisie 7- 8 -->

              <!-- fields 7 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Évaluation de l'impact sur la Biodiversité</mat-label>
                <mat-select formControlName="evalImpact" required [(ngModel)]="this.questBiodiversite.evalImpact">

                  <mat-option value="Réalisée régulièrement">Réalisée régulièrement</mat-option>
                  <mat-option value="Réalisée occasionnellement">Réalisée occasionnellement</mat-option>
                  <mat-option value="En cours de planification">En cours de planification</mat-option>
                  <mat-option value="Aucune évaluation effectuée">Aucune évaluation effectuée</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>

              <!-- fields 8 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Engagement envers des Standards Internationaux de Biodiversité</mat-label>
                <mat-select formControlName="engagement" required [(ngModel)]="this.questBiodiversite.engagement">

                  <mat-option value="Respect des Principes de l'équateur">Respect des Principes de
                    l'équateur</mat-option>
                  <mat-option value="Alignement sur les Standards de Performance de la Société financière
                internationale (IFC)">Alignement sur les Standards de Performance de la Société financière
                    internationale (IFC)</mat-option>
                  <mat-option value="Aucun engagement déclaré">Aucun engagement déclaré</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>
            </div>


            <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
              <!-- champs de saisie 9 -->
              <!-- fields 9 -->
              <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
                <mat-label>Facteurs d'incertitude</mat-label>
                <mat-select formControlName="incertitude" required [(ngModel)]="this.questBiodiversite.incertitude">

                  <mat-option value="Faible">Faible</mat-option>
                  <mat-option value="Modéré">Modéré</mat-option>
                  <mat-option value="Élevé">Élevé</mat-option>
                  <mat-option value="Inconnu">Inconnu</mat-option>
                </mat-select>
                <mat-hint>Sélectionnez une réponse</mat-hint>
              </mat-form-field>


              <mat-form-field class="example-full-width"  style="max-width: 300px; min-width: 300px;" >
                <mat-label>Laissez un commentaire</mat-label>
                <textarea style="min-height: 120px;" matInput placeholder="Ex. It makes me feel..."
                formControlName="commentaire" required [(ngModel)]="this.questBiodiversite.commentaire"
                ></textarea>
              </mat-form-field>

            </div>

          </div>

        </mat-card>

      </div>

    </form>

    <div style="display: flex; justify-content: space-around; margin-top: 10vh;">
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button matStepperNext (click)="this.addIdQuestionBio()">Suivant</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
    <form [formGroup]="thirdFormGroup" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-height: 80%;">
      <ng-template matStepLabel>Consommation Totale d'Eau</ng-template>

      <mat-card
      style="display: flex; flex-direction:column; justify-content: center; align-items: center; max-width: 700px;min-width: 700px;">
      <mat-card-header>

      </mat-card-header>

      <div style="display: flex ; flex-direction: column; justify-content: space-between;">
        <!-- fields 1 -2  -->
        <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">

            <!-- fields 1 -->
            <mat-label>Année de référence</mat-label>
            <input [(ngModel)]="this.questConsoEau.anneeReference" matInput placeholder="Année de référence"
              formControlName="anneeReference" required type="number">
            <mat-hint>Compris entre 2000-2024</mat-hint>
          </mat-form-field>

          <!-- fields 2 -->
          <mat-form-field field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Type d'installation mésurée</mat-label>
            <mat-select formControlName="typeInstallation" required [(ngModel)]="this.questConsoEau.typeInstallation">

              <mat-option value="Siège social">Siège social</mat-option>
              <mat-option value="Sites de production">Sites de production</mat-option>
              <mat-option value="Succursales/Filiales">Succursales/Filiales</mat-option>
              <mat-option value="Conservation des habitats naturels">Conservation des habitats naturels</mat-option>
              <mat-option value="Total de toutes les installations">Total de toutes les installations</mat-option>
              <mat-option value="Autre">Autre</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>
        </div>

        <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">

          <!-- fields 3 -4  -->

          <!-- fields 3 -->
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Sources d'approvisionnement en Eau</mat-label>
            <mat-select formControlName="sourceAppro" required
              [(ngModel)]="this.questConsoEau.sourceAppro">

              <mat-option value="Approvisionnement public">Approvisionnement public</mat-option>
              <mat-option value="Puits privés">Puits privés</mat-option>
              <mat-option value="Combinaison de sources">Combinaison de sources</mat-option>
              <mat-option value="Autre">Autre</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>

          <!-- fields 4 -->
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Usage de l'Eau Mesuré</mat-label>
            <mat-select formControlName="usageEauMesure" required
              [(ngModel)]="this.questConsoEau.usageEauMesure">

              <mat-option value="Processus de production">Processus de production</mat-option>
              <mat-option value="Refroidissement">Refroidissement</mat-option>
              <mat-option value="Sanitaires">Sanitaires</mat-option>
              <mat-option value="Total de tous les usages">Total de tous les usages</mat-option>
              <mat-option value="Autre">Autre</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>

        </div>

        <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
          <!-- champs de saisie 5 -6 -->

          <!-- fields 5 -->
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Méthode de Mesure</mat-label>
            <mat-select formControlName="methodeMesure" required [(ngModel)]="this.questConsoEau.methodeMesure">

              <mat-option value="Compteurs d'eau individuels pour chaque installation">Compteurs d'eau individuels pour chaque installation</mat-option>
              <mat-option value="Estimations basées sur des facteurs d'usage standard">Estimations basées sur des facteurs d'usage standard</mat-option>
              <mat-option value="Autre">Autre</mat-option>
              <mat-option value="Méthode inconnue">Méthode inconnue</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>


          <!-- fields 6 -->
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Consommation Totale d'Eau</mat-label>
            <mat-select formControlName="consoEau" required [(ngModel)]="this.questConsoEau.consoEau">
              <mat-option value="Moins de 1 000 m³">Moins de 1 000 m³</mat-option>
              <mat-option value="Entre 1 000 et 5 000 m³">Entre 1 000 et 5 000 m³</mat-option>
              <mat-option value="Entre 5 000 et 10 000 m³">Entre 5 000 et 10 000 m³</mat-option>
              <mat-option value="Plus de 10 000 m³">Plus de 10 000 m³</mat-option>
              <mat-option value="Aucune donnée disponible">Aucune donnée disponible</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>
        </div>


        <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
          <!-- champs de saisie 7- 8 -->

          <!-- fields 7 -->
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Évolution par Rapport à l'Année Précédente</mat-label>
            <mat-select formControlName="evolution" required [(ngModel)]="this.questConsoEau.evolution">

              <mat-option value="Augmentation">Augmentation</mat-option>
              <mat-option value="Stabilité">Stabilité</mat-option>
              <mat-option value="Diminution">Diminution</mat-option>
              <mat-option value="Aucune donnée disponible">Aucune donnée disponible</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>

          <!-- fields 8 -->
          <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
            <mat-label>Facteurs d'incertitude</mat-label>
            <mat-select formControlName="facteurIncertitude" required [(ngModel)]="this.questConsoEau.facteurIncertitude">

              <mat-option value="Faible">Faible</mat-option>
              <mat-option value="Modéré">Modéré</mat-option>
              <mat-option value="Élevé">Élevé</mat-option>
              <mat-option value="Inconnu">Inconnu</mat-option>
            </mat-select>
            <mat-hint>Sélectionnez une réponse</mat-hint>
          </mat-form-field>
        </div>


        <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
          <!-- champs de saisie 9 -->
          <!-- fields 9 -->


          <mat-form-field class="example-full-width"  style="max-width: 300px; min-width: 300px;" >
            <mat-label>Mesures Prises pour Réduire la Consommation d'Eau</mat-label>
            <textarea style="min-height: 120px;" matInput placeholder="Ex. It makes me feel..."
            formControlName="mesurePrise" required [(ngModel)]="this.questConsoEau.mesurePrise"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width"  style="max-width: 300px; min-width: 300px;" >
            <mat-label>Laissez un commentaire</mat-label>
            <textarea style="min-height: 120px;" matInput placeholder="Ex. It makes me feel..."
            formControlName="commentaire" required [(ngModel)]="this.questConsoEau.commentaire"
            ></textarea>
          </mat-form-field>

        </div>


      </div>



    </mat-card>

    </form>


    <div style="display: flex; justify-content: space-around; margin-top: 10vh;">
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button matStepperNext (click)="this.addIdQuestionConso()">Suivant</button>
    </div>
  </mat-step>
<!--  Questionnaire EthiTrack-->


<mat-step [stepControl]="fourthFormGroup" [optional]="isOptional">
  <form [formGroup]="fourthFormGroup" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-height: 80%;">
    <ng-template matStepLabel>Émissions Totales de GES par Année</ng-template>

    <mat-card
    style="display: flex; flex-direction:column; justify-content: center; align-items: center; max-width: 700px;min-width: 700px;">
    <mat-card-header>

    </mat-card-header>

    <div style="display: flex ; flex-direction: column; justify-content: space-between;">
      <!-- fields 1 -2  -->
      <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
        <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">

          <!-- fields 1 -->
          <mat-label>Année de référence</mat-label>
          <input [(ngModel)]="this.questGES.anneeReference" matInput placeholder="Année de référence"
            formControlName="anneeReference" required type="number">
          <mat-hint>Compris entre 2000-2024</mat-hint>
        </mat-form-field>

        <!-- fields 2 -->
        <mat-form-field field appearance="outline" style="max-width: 300px; min-width: 300px;">
          <mat-label>Portée des émissions</mat-label>
          <mat-select formControlName="porteeEmission" required [(ngModel)]="this.questGES.porteeEmission">
            <mat-option value="Émissions directes liées à la société (Scope 1)">Émissions directes liées à la société (Scope 1)</mat-option>
            <mat-option value="Émissions indirectes liées à l'énergie (Scope 2)">Émissions indirectes liées à l'énergie (Scope 2)</mat-option>
            <mat-option value="Émissions indirectes liées aux activités hors énergie (Scope 3)">Émissions indirectes liées aux activités hors énergie (Scope 3)</mat-option>
            <mat-option value="Total (Scope 1 + Scope 2 + Scope 3)">Total (Scope 1 + Scope 2 + Scope 3)</mat-option>
          </mat-select>
          <mat-hint>Sélectionnez une réponse</mat-hint>
        </mat-form-field>
      </div>

      <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">

        <!-- fields 3 -4  -->

        <!-- fields 3 -->
        <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
          <mat-label>Catégories d'Émissions</mat-label>
          <mat-select formControlName="catEmission" required
            [(ngModel)]="this.questGES.catEmission">

            <mat-option value="Émissions de dioxyde de carbone (CO2)">Émissions de dioxyde de carbone (CO2)</mat-option>
            <mat-option value="Émissions de méthane (CH4)">Émissions de méthane (CH4)</mat-option>
            <mat-option value="Émissions d'oxyde nitreux (N2O)">Émissions d'oxyde nitreux (N2O)</mat-option>
            <mat-option value="Autre">Autre</mat-option>
          </mat-select>
          <mat-hint>Sélectionnez une réponse</mat-hint>
        </mat-form-field>

        <!-- fields 4 -->
        <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
          <mat-label>Ordre de Grandeur des Émissions de GES</mat-label>
          <mat-select formControlName="ordreGrandeur" required
            [(ngModel)]="this.questGES.ordreGrandeur">

            <mat-option value="Faible (moins de 1 000 tonnes de CO2 équivalent)">Faible (moins de 1 000 tonnes de CO2 équivalent)</mat-option>
            <mat-option value="Modéré (1 000 à 10 000 tonnes de CO2 équivalent)">Modéré (1 000 à 10 000 tonnes de CO2 équivalent)</mat-option>
            <mat-option value="Élevé (plus de 10 000 tonnes de CO2 équivalent)">Élevé (plus de 10 000 tonnes de CO2 équivalent)</mat-option>
            <mat-option value="Impossible à estimer actuellement">Impossible à estimer actuellement</mat-option>
            <mat-option value="Autre">Autre</mat-option>
          </mat-select>
          <mat-hint>Sélectionnez une réponse</mat-hint>
        </mat-form-field>

      </div>

      <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
        <!-- champs de saisie 5 -6 -->

        <!-- fields 5 -->
        <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
          <mat-label>Catégories principales vos émissions de GES</mat-label>
          <mat-select formControlName="categorie" required [(ngModel)]="this.questGES.categorie">

            <mat-option value="Approvisionnement et Achats">Approvisionnement et Achats</mat-option>
            <mat-option value="Transport">Transport</mat-option>
            <mat-option value="Utilisation des Produits">Utilisation des Produits</mat-option>
            <mat-option value="Fin de Vie des Produits">Fin de Vie des Produits</mat-option>
            <mat-option value="Investissements">Investissements</mat-option>
            <mat-option value="Autre">Autre</mat-option>
          </mat-select>
          <mat-hint>Sélectionnez une réponse</mat-hint>
        </mat-form-field>


        <!-- fields 6 -->
        <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
          <mat-label>Méthodologie de Calcul</mat-label>
          <mat-select formControlName="methCalcul" required [(ngModel)]="this.questGES.methCalcul">
            <mat-option value="Utilisation des données fournies par la société">Utilisation des données fournies par la société</mat-option>
            <mat-option value="Utilisation des facteurs d'émission standards">Utilisation des facteurs d'émission standards</mat-option>
            <mat-option value="Utilisation de données tierces">Utilisation de données tierces</mat-option>
            <mat-option value="Autre">Autre</mat-option>
          </mat-select>
          <mat-hint>Sélectionnez une réponse</mat-hint>
        </mat-form-field>
      </div>

      <div style="display: flex;flex-direction: row; justify-content: space-around;width: 700px;">
        <!-- champs de saisie 9 -->
        <!-- fields 9 -->


        <mat-form-field class="example-full-width"  style="max-width: 300px; min-width: 300px;" >
          <mat-label>Précisions sur la Méthodologie de Collecte de Données</mat-label>
          <textarea style="min-height: 120px;" matInput placeholder="Ex. It makes me feel..."
          formControlName="precisionMethCalcul" required [(ngModel)]="this.questGES.precisionMethCalcul"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width"  style="max-width: 300px; min-width: 300px;" >
          <mat-label>Laissez un commentaire</mat-label>
          <textarea style="min-height: 120px;" matInput placeholder="Ex. It makes me feel..."
          formControlName="commRemarqueAdditionnelles" required [(ngModel)]="this.questGES.commRemarqueAdditionnelles"
          ></textarea>
        </mat-form-field>

      </div>

      <div style="display: flex;flex-direction: row;justify-content: flex-start;width: 700px;">
        <!-- champs de saisie 7- 8 -->

        <!-- fields 7 -->


        <!-- fields 8 -->
        <mat-form-field appearance="outline" style="max-width: 300px; min-width: 300px;">
          <mat-label>Facteurs d'incertitude</mat-label>
          <mat-select formControlName="facteurIncertitude" required [(ngModel)]="this.questGES.facteurIncertitude">

            <mat-option value="Faible">Faible</mat-option>
            <mat-option value="Modéré">Modéré</mat-option>
            <mat-option value="Élevé">Élevé</mat-option>
            <mat-option value="Inconnu">Inconnu</mat-option>
          </mat-select>
          <mat-hint>Sélectionnez une réponse</mat-hint>
        </mat-form-field>
      </div>

    </div>
  </mat-card>


  </form>

  <div style="display: flex; justify-content: space-around; margin-top: 10vh;">
    <button mat-button matStepperPrevious>Retour</button>
    <button mat-button matStepperNext (click)="this.addIdQuestionGes()">Suivant</button>
  </div>
</mat-step>


  <!-- <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Consommation Totale d'énergie</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step> -->

  <mat-step >
    <ng-template matStepLabel>Valider</ng-template>
    Votre saisie est terminée !
    <div  style="display: flex; justify-content: space-around; margin-top: 10vh;">

      <button mat-button (click)="stepper.reset()" >Nouvelle Saisie</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
