@keyframes slideInLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.zoneAffichageAction {
  animation: 0.3s ease-out 0s 1 slideInLeft;
  width: 65vw;
  position: static;
  max-height: 90vh;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  color: white;
  background: #4DB6AC;
  min-width: 100px;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #4DB6AC;
  color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color:  #4DB6AC;
  color: #fff;
}
