<body style="display: flex; flex-direction: row;height: 100%;">

  <div class="sidebar" >
    <a class="lien" routerLink="/affichageActions/actions" routerLinkActive="active"> Ajouter une entreprise</a>
    <a class="lien" routerLink="/affichageActions/liste" routerLinkActive="active"><i class="fa fa-fw fa-wrench"></i> Liste des entreprises</a>
    <!-- <a routerLink="/affichageActions/questionnaires"><i class="fa fa-fw fa-user"></i> Questionnaires</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a> -->
  </div>

 <div   class="zoneAffichage" >
    <router-outlet ></router-outlet>
  </div>
</body>
