<!-- <div class="loop-wrapper">
  <div class="mountain"></div>
  <div class="hill"></div>
  <div class="tree"></div>
  <div class="tree"></div>
  <div class="tree"></div>
  <div class="rock"></div>
  <div class="truck"></div>
  <div class="wheels"></div>
</div> -->
<div style="position: fixed; width: 100%; height: 100%;">
  <img style=" object-fit:cover;width: 100%;height: 100%;" src="/assets/images/fond.png" alt="image">
</div>
<div style="width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;  ;position: fixed;">
  <img style=" object-fit: contain; max-width: 50vh; max-width: 50vhpx;" src="/assets/images/final.png" alt="image">

  <div class="line">
    <h2 class='lineUp' style="font-size: 2rem;">ETHITRACK - V.1</h2>
  </div>
  <p   class='lineUp' style="color: white; font-size: 15px;"> Parce que chaque pas compte pour un avenir plus vert</p>
</div>
