<div class="zoneAffichage"
  style="margin-top:10vh;min-width:950px; display: flex; justify-content: center; flex-direction: column; align-items: center;">

  <body style="width: 100%;">

    <h2 >Liste des actions</h2>

    <!-- <input [(ngModel)]="this.searchvalue" type="text" id="myInput" onkeyup="myFunction()"
      placeholder="Rechercher par le nom" title="Type in a name"> -->
   <div style="display: flex;flex-direction: row; width: 100%;align-items: center;justify-content: flex-start;">
    <input id="myInput" type="tel" style="width: 90%;" matInput placeholder="Search"  name= "search" [(ngModel)]= "this.searchvalue">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>

   </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 90%;" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="secteur">
          <th mat-header-cell *matHeaderCellDef> Secteur d'activité</th>
          <td mat-cell *matCellDef="let element"> {{element.libelleSecteur}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef> Statut </th>
          <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="modifier">
          <th mat-header-cell *matHeaderCellDef> Modifier </th>
          <td mat-cell *matCellDef="let element">  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns:  columnsToDisplay;"></tr>
      </table>


    </body>
</div>
