<nav class="menu" id="nav">


  <span  [routerLink]="['/']" class="nav-item" style="display: flex;align-items: center;justify-content: center;" [routerLinkActive]="'nav-item active'">


    <p class="glow" >ETHI'TRACK</p>
		<!-- <img style="background-color: black; object-fit: contain;" src="/assets/images/logo.png" alt="image"> -->
	</span>


	<!-- <span  routerLink="/" class="nav-item">
		<span class="icon" routerLink="/"> -->
			<!-- <i data-feather="home"></i> -->
      <!-- <mat-icon >home</mat-icon>
		</span>

		<a >Accueil</a>
	</span> -->
	<span class="nav-item" routerLink="/affichageActions">
		<span class="icon"  routerLink="/affichageActions">
			<mat-icon >account_balance</mat-icon>
		</span>
		<a >Actions</a>
	</span>
	<span routerLink="/metrics" class="nav-item">
		<span class="icon" routerLink="/metrics">
			<mat-icon >bar_chart</mat-icon>
		</span>
		<a >Metrics</a>
	</span>
	<span class="nav-item" routerLink="/telechargements">
		<span class="icon">
			<mat-icon ><span class="material-symbols-outlined">
        legend_toggle
        </span></mat-icon>
		</span>
		<a routerLink="#">Telechargements</a>
	</span>

</nav>
