<nav class="menu" id="nav">
	<span class="nav-item active">
		<span class="icon">
			<!-- <i data-feather="home"></i> -->
      <mat-icon >home</mat-icon>
		</span>

		<a routerLink="/">Accueil</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<mat-icon >account_balance</mat-icon>
		</span>
		<a routerLink="/affichageActions">Actions</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<mat-icon >bar_chart</mat-icon>
		</span>
		<a routerLink="/metrics">Metrics</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<mat-icon ><span class="material-symbols-outlined">
        legend_toggle
        </span></mat-icon>
		</span>
		<a routerLink="#">Reporting</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<span class="subicon">1</span>
			<mat-icon >download_for_offline</mat-icon>
		</span>
		<a href="#">Imports</a>
	</span>
</nav>
