<nav class="menu" id="nav">


  <span  [routerLink]="['/']" class="nav-item" style="display: flex;align-items: center;justify-content: center;" [routerLinkActive]="'nav-item active'">


		<div style="position: fixed;  justify-content: center;align-items: center; padding-top: 2vh;">
      <img style=" object-fit: contain; max-width: 10vw; max-height: 10vh;" src="/assets/images/final.png" alt="image">
    </div>
	</span>


	<!-- <span  routerLink="/" class="nav-item">
		<span class="icon" routerLink="/"> -->
			<!-- <i data-feather="home"></i> -->
      <!-- <mat-icon >home</mat-icon>
		</span>

		<a >Accueil</a>
	</span> -->
	<span class="nav-item" routerLink="/affichageActions" routerLinkActive="active">
		<span class="icon"  routerLink="/affichageActions">
			<mat-icon >account_balance</mat-icon>
		</span>
		<a >Portefeuille</a>
	</span>
	<span routerLink="/metrics" class="nav-item" routerLinkActive="active">
		<span class="icon" routerLink="/metrics">
			<mat-icon >bar_chart</mat-icon>
		</span>
		<a >Reporting</a>
	</span>
	<span class="nav-item" routerLink="/telechargements" routerLinkActive="active">
		<span class="icon">
			<mat-icon ><span class="material-symbols-outlined">
        legend_toggle
        </span></mat-icon>
		</span>
		<a routerLink="#">Telechargements</a>
	</span>

</nav>
